{% extends 'mail/layout.html' %} 

{% block title %} 
Logout 
{% endblock %} 

{% block body %}

<div class="container" style="text-align: center;">
    <p>
        You are signed in as <strong>{{ request.user }}</strong><br/>
        Are you sure you want to logout?</p>
        <form action="{% url 'mail:logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit" class="btn btn-primary">Yes</button>
            <a href="{% url 'mail:index' %}"><button type="button" class="btn btn-outline-primary">No</button></a>
        </form>
</div>
{% endblock %} 